{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="archive__item" onclick="window.location.href='{{ base_path }}{{ post.url }}'">
  <h3 class="archive__item-title">
    {{ title }}
  </h3>
  <div class="archive__item-meta">
    {% if post.date %}
      <span><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date: "%b %d, %Y" }}</span>
    {% endif %}
    {% if post.read_time %}
      &nbsp;|&nbsp;
      <span><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</span>
    {% endif %}
  </div>
  {% if post.excerpt %}
    <div class="archive__item-excerpt">
      {{ post.excerpt | markdownify | strip_html | truncatewords: 30 }}
    </div>
  {% endif %}
</div>
